{% extends 'base.html' %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th></th>
                <th>Link</th>
            </tr>
            {% for link in links %}
                <tr>
                    <td></td>
                    <td><a href={{link}} target="_blank">{{ link }}</a></td>
                    <td>
                        <form action=/{{link}} method="get">
                            <button type="submit" class="btn btn-primary btn-sm">DELETE</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}